body h1 {
    color: #dc6c10;
    font-family: inder;
    font-style: normal;
    font-weight: 400;
    font-size: 32pt;
    text-transform: capitalize;
	text-align: center;
	
}
body h2 {
    color: #dc6c10;
    font-family:Old English Text MT;
    font-style: normal;
    font-weight: 400;
    font-size: 32pt;
    text-transform: capitalize;
	text-align: center;
	text-shadow: 2px 2px black;
	
}

aside {
    
    position:fixed;
	
   top: 120px;
    left: 0px;
	text-align: center;
	
}aside table { max-width: 160px;
width: auto;}
aside a{ font-family: inder;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
text-decoration: none;
color:#DCDCDC}
aside td {  background-color:#dc6c10;
}
aside tr :hover{  background-color:#ab530b; color: white;}
aside tr :active{background-color:#6A3306; color: grey;}
header {overflow: auto;}


body {
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-size: 16px;
    color: #DCDCDC;
    background-color: #2E3739;
    margin-right: 0px;
    margin-bottom: -5px;
    margin-left: 0px;
    bottom: 0px;
    padding-bottom: 0px;
    text-align: center;

}
body p {
    font-family: inder;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    float: none;
    text-align:justify;
color: #DCDCDC;
}
body header {
    maxwidth: 100%;
    background-color: #005DA3;
    left: 0px;
    top: 0px;
    right: 0px;
    padding: 5px;
    margin-top: -7px;

    position: static;
    z-index: 10;
	font-size: 24px;
}
header  {	    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    
    color: #DCDCDC;
	text-decoration: none;
}

nav ul  {
display: table-row;
}
nav a{color: #DCDCDC;
	text-decoration: none;
    font-family: inder;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;}


nav ul li {
    display: table-cell;
    width:200px;
    text-align: center;
    margin-right: 4%;
    margin-left: 6px;
    margin-bottom: 4%;
    
    padding: 3px;
}
nav ul li a:hover { 


    text-align: center;
    margin-right: -5px;
    margin-left: -5px;
    margin-bottom: -5px;
    

background-color:#1d7e6d ; color:#FFFFFF
}

hr {   
	;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
background-color:#005DA3;
border-color:#005DA3;}


article {

	max-width: 800px;
	
	
	  margin-left: auto;
  margin-right: auto;
	min-width: 320px;
	
	
}
.centerauto {
  display: block;
  margin-left: auto;
  margin-right: auto;
background-color:#000000;
	max-height: 320px;
  width:auto;
	max-height: auto;
	
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
background-color:#000000;

  width:320px;

	
}
footer {line-height: 80%;

    padding-top: 16px;
padding-bottom: 10px;
    bottom: 0px;
    background-color: #000000;

}
footer h1{	font-family: Old English Text MT;
	font-size: 25px;
color:#FFFFFF;
}
footer a{
	font-family: inder;
    font-size: 20px;
text-decoration: none;
color: #B6B6B6}
footer a:visited{font-family: inder;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
text-decoration: none;
color:#B6B6B6}
.footerimg{ margin-bottom: -20px;
image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;}
.pixelate {image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;}
article table {}

.gamel {}

.sothead {   margin: 7px;
    padding: 0px;
    bottom: 0px;
    background-color: #000000;}
.price { font-size: 36px;
line-height: 80%}
.dev {color: #005DA3;
text-shadow: 2px 2px black}
.steam {
	padding-top: 0;

	background-image: url("images/steam_logoback (4).jpg" );
font-size: 15px;
	line-height: 100%;
	text-align: left;
}
.steam a{font-family: inder;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    float: none;
    text-align:justify;
color: #DCDCDC;
text-decoration: none;}
.soshead {   margin: 7px;
    padding: 0px;
    bottom: 0px;
    background-color: #0A2436; }
.hkhead { margin: 7px;
    padding: 0px;
    bottom: 0px;
    background-color: #424845;}
.slhead { margin: 7px;
    padding: 0px;
    bottom: 0px;
    background-color: #2889A7;}
.pohead { margin: 7px;
    padding: 0px;
    bottom: 0px;
    background-color: #12191F;}
.slhead { margin: 7px;
    padding: 0px;
    bottom: 0px;
    background-color: #2889A7;}
.tmhead { margin: 7px;
    padding: 0px;
    bottom: 0px;
    background-color: #7972FC;}
.sphead { margin: 7px;
    padding: 0px;
    bottom: 0px;
    background-color: #0F1521;}
.tdhead { margin: 7px;
    padding: 0px;
    bottom: 0px;
    background-color: #948AAC;}
.gameslist {
}

#gameslist {
}
.names {    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-size: 24px;
    color: #dc6c10;
text-decoration: strong;}#about {
}
#slogan {
}
#history {
}
#employ {
}
#fart {
}
